<mat-card>
    <h2 class="itemName">{{itemName}}</h2>
    <img src="qtr.jpg" alt="">
    <div class="container">
        <div class="c-menos">
            <a class="a-menos"><button [routerLink]="['/stock/editar']" [queryParams]="{ id: itemId, name: itemName, cantidad:quantity, precio: precio, action: 'remove' }">-</button></a>
        </div>
        <div class="c-cantidad">
            <h3 class="cantidad">{{quantity}}</h3>
        </div>
        <div class="c-mas">
            <a class="a-mas" [routerLink]="['/stock/editar']" [queryParams]="{ id: itemId, name: itemName, cantidad:quantity, precio: precio, action: 'add' }"><button href=" ">+</button></a>
        </div>
        
    </div>
    
</mat-card>